
	*{
		margin: 0;
		border:0;
		padding: 0;
	}
	body {
		background: #FFFCD1;
		font: 12px/20px 'Catamaran', sans-serif;
		color:#3A1A07;
		margin: 0;
	}
	h1 {
		text-align: center;
		font-family: Poiret One;
		font-size: 220%;
		line-height: 100%;
		margin-bottom: 10px;
	

	}
	h2 {
		text-decoration: underline;
		line-height: 280%;
		padding: 2%;

	}
	h3 {
		font-family: Poiret One;
		line-height: 110%;
		padding: 5% 0;
	}
	h4 {
		font-size: 16px;
	}
	p {
		padding: 1%;
		font-size: 20px;

	}
	img {
		text-align: center;
		max-width: 100%;
		height: auto;
		width: auto;
	}
	a {
		color: #3A1A07;
		text-decoration: none;
		font-weight: bold;
	}
	a:hover {
		color: #3A1A07;
		text-decoration: underline;
	}
	header {
		background-color: #FFFCD1;
		font-family: Poiret One;
		font-size: 18px;
		font-weight: bold;
		border: 1px solid #dddaaf;
		width: 100%;
		height: 86px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		opacity: 0.90;
	}

	.clear {
		margin-top: 100px;
	}
	#logo {
		margin: 20px;
		float: left;
		width: 200px;
		height: 60px;
		background: url("img/logo-dolci6.png") no-repeat center;
	}
	nav {
		float: right;
		padding: 35px 20px 20px 0;
	}
	#menu-icon {
		display: hidden;
		width: 40px;
		height: 40px;
		background: url("img/icon.png") center;
	}
	a:hover#menu-icon {
		border-radius: 4px 4px 0 0;
	}
	ul {
		list-style: none;
	}

	nav ul li {
		display: inline-block;
		float: left;
		padding: 10px;
	}
	.current {
		color: #3A1A07;
	}
	#doc {
		margin: 40px 0;
	}
	}
	#content {
		margin: 0 auto;
		max-width: 1140px;
		margin-top: 110px;
	}
	.blueberry {
		max-width: 960px;
		margin-top: 110px;
	}
	section {
		width: 29%;
		float: left;
		margin: 2% 2%;
		text-align: center;
	}
	.clear {
		clear: both;
	}
	article {
		float: left;
		margin: 0 auto;
		width: 50%;
		height: auto;
		padding: 4%;
	}
	aside {
		float: right;
		margin: 0 auto;
		width: 35%;
		height: auto;
		padding: 3%;
	}
	ul.gym li {
		padding-left: 3%;
	}
	footer {
		background: #3A1A07;
		width: 100%;
		overflow: hidden;
		opacity: 0,90;
	}
	footer p, footer h3 {
		color: #FFF;
	}
	footer p a {
		color: #FFF;
		text-decoration: none;
	}
	footer p a:hover {
		color: #FFF;
		text-decoration: none;
	}

	ul.social li {
		display: inline;
	}
	ul.social li img {
		height: 50px;
	}
	footer.second {
		border-top: 1px solid #4D4E50;
		background-color: #3A1A07;
		max-height: 50px;
		text-align: center;		
		opacity: 0.95;
	}
	footer.second p {
		font-size: 14px;
	}

/*------------MEDIA------------*/
@media screen and (max-width: 478px) {
	body {
		position: absolute;
	}
}
@media screen and (max-width: 740px) {
	header {
		position: absolute;
	}
	#menu-icon {
		display: inline-block;
	}
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #FFFCD1;
		border: 1px solid #3A1A07;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 2px 0 2px 2px;
	}
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
	nav:hover ul {
		display: block;
	}
	section {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	article {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	aside {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
